.header {
  background-image: url("../images/header.jpg");
  background-size: border-box;
  background-position: center;
  position: relative;
  height: 100vh;
  font-weight: 400; }
  .header__nav {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0; }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 35px;
    left: calc(50% - 57.5px);
    color: white; }
  .header__logo {
    width: 115px;
    height: 76px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
  .header__phone {
    color: white;
    margin: 0 82px; }
  .header__phone, .header__action {
    position: relative;
    top: 47px; }
  .header__link {
    color: white;
    border-bottom: 1px dashed;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    text-transform: uppercase; }
    .header__link:hover {
      color: #d5c5aa; }

.nav {
  color: black;
  text-transform: uppercase; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .nav__item {
    padding: 7px 20px;
    margin: 0 23px;
    border-radius: 10px; }
    .nav__item_active {
      background-color: #d5c5aa; }
  .nav__link {
    color: white;
    -webkit-transition: color 0.2s;
    transition: color 0.2s; }
    .nav__link:hover {
      color: #d5c5aa; }

@media screen and (max-width: 999px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .header__phone {
    margin: -30px 0 10px; } }

body {
  line-height: 1.5; }

body,
html,
ul,
li,
button,
input,
textarea,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: inherit; }

ul {
  list-style: none; }

a,
a:visited {
  text-decoration: none; }

strong {
  font-weight: 500; }

.link {
  color: #00aaef; }
  .link:hover {
    color: #2f80ed; }

.section {
  position: relative;
  padding: 100px calc(50% - 470px);
  background-color: white; }
  .section:nth-child(even) {
    background-color: #eee; }
  .section__heading {
    margin: auto;
    left: 0;
    right: 0;
    top: -0.5em; }

@media screen and (max-width: 999px) {
  .section {
    padding-left: 40px;
    padding-right: 40px; } }

.inform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .inform__heading {
    width: 314px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 60px;
    font-size: 48px;
    margin: 0; }
  .inform__text {
    max-width: 564px; }
    .inform__text > :first-child {
      margin-top: 0; }
    .inform__text > :last-child {
      margin-bottom: 0; }

@media screen and (max-width: 999px) {
  .inform {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .inform__heading {
      margin-bottom: 16px; } }

.heading {
  font-weight: 300;
  font-size: 48px;
  line-height: 48px;
  position: absolute;
  text-transform: uppercase;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content; }
  .heading::before, .heading::after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    top: calc(100% + 5px);
    width: calc(50% - 20px);
    background-color: #00aaef; }
  .heading::before {
    left: 0; }
  .heading::after {
    right: 0; }
  .heading__crown {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: calc(100% + 4px);
    width: 20px;
    height: 13px;
    background-image: url("../images/crown.svg"); }

.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .photos__img {
    width: calc(50% - 10px);
    height: 260px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  .photos_wide_left .photos__img:first-child {
    width: calc(67% - 10px); }
  .photos_wide_left .photos__img:last-child {
    width: calc(33% - 10px); }
  .photos_wide_rigth .photos__img:first-child {
    width: calc(33% - 10px); }
  .photos_wide_rigth .photos__img:last-child {
    width: calc(67% - 10px); }

.gallery__description {
  margin: 12px 0 35px; }

.gallery__button {
  margin: 44px auto 0; }

.button {
  display: block;
  font-size: 14px;
  line-height: 14px;
  background-color: #00aaef;
  color: white;
  cursor: pointer;
  border: none;
  padding: 19px 62px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  text-transform: uppercase; }
  .button:hover {
    background-color: #2f80ed; }

.consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .consultation__text {
    width: 480px; }
  .consultation__heading {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 24px; }
  .consultation__form {
    width: 380px; }

@media screen and (max-width: 999px) {
  .consultation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .consultation__form, .consultation__text {
      width: 100%; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .form__input, .form__button {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    margin-bottom: 8px;
    width: 100%; }

.input {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #393939;
  text-transform: uppercase;
  padding: 24px;
  background-color: #eee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1;
  border: none; }
  .input::-webkit-input-placeholder {
    color: inherit; }
  .input::-moz-placeholder {
    color: inherit; }
  .input:-ms-input-placeholder {
    color: inherit; }
  .input::-ms-input-placeholder {
    color: inherit; }
  .input::placeholder {
    color: inherit; }
  .input_textarea {
    height: 166px; }

.testimonials {
  display: grid;
  grid-gap: 70px;
  grid-template-columns: repeat(3, 200px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.person {
  text-align: center; }
  .person__photo {
    width: 150px;
    border-radius: 75px; }
  .person__name {
    margin-top: 12px;
    font-weight: bold; }
  .person__position {
    margin: 0;
    color: #696973;
    font-style: italic; }
  .person__text {
    position: relative; }
    .person__text::after {
      position: absolute;
      content: "";
      display: block;
      width: 35px;
      height: 29px;
      background-image: url("../images/quotes.svg");
      background-repeat: no-repeat;
      background-position: center;
      right: calc(100% + 6px);
      bottom: calc(100% + 6px); }

@media screen and (max-width: 999px) {
  .testimonials {
    grid-template-columns: repeat(1, 200px); } }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .contact__text {
    font-size: 24px;
    width: 280px; }
  .contact__form {
    width: 380px; }
  .contact__link {
    color: black; }

@media screen and (max-width: 999px) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .contact__form, .contact__text {
      width: 100%; } }

.footer {
  height: 540px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background-image: url(../images/footer.jpg);
  background-position: center;
  background-size: cover;
  z-index: -1; }
  .footer__logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 95px; }

/*# sourceMappingURL=main.css.map */
